
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    font-family: Arvo;
}

:root {
    --background-light: #c6e6d0;
    --background-dark: #206175;
    --highlight: #dbd337;
    --danger: #d25944;
    --text-light: #FAFAFA;

    --primary: #d25944;
}

button, input[type="button"] {
    padding: 10px;
    background-color: var(--primary);
    color: var(--text-light);
    font-size: 16px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
button:hover, input[type="button"]:hover {
    filter: brightness(120%);
}
span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


body {
    background-color: var(--background-light);
    margin: 0px;
}

div.header {
    background-color: var(--background-dark);
    font-size: 36px;
    transition: all 100ms;
}

div.page-container {
    display: grid;
    grid-template-areas: 
        "top top"
        "left right"
        "bottom bottom";

    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50px 1fr 100px;

    
}

#save-recipe {
    grid-area: left;
}

#output {
    grid-area: right;
}

form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 auto 0 auto;

    align-content: flex-start;
    justify-content: flex-start;

    width: 80%;
    padding: 20px;
    border: solid 1px rgb(208, 208, 208);
    border-radius: 5px;
    margin-top: 30px;

    min-width: 200px;

    background-color: var(--background-dark);
}
label {
    width: calc(100%);
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    color: var(--text-light);
    font-size: 18px;
}
input, textarea, select {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    background-color: var(--text-light);
    border-radius: 5px;
    border: solid 1px rgb(208, 208, 208);
    padding: 5px;
    outline: none;
    margin: 5px 0px 10px 0px;
}
input:focus:not(input[type="button"]), textarea:focus {
    border-bottom: solid 3px var(--primary);
}
select {
    max-width: calc(200px); 
    margin-right: 15px;
}
textarea {
    min-height: 200px;
}

.header {
    grid-area: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    padding: 10px;
    color: var(--text-light);
}

.history {
    grid-area: bottom;
    padding: 20px;
}

.history-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 5px 0px;
}


.history-group > .history-item {
    border: solid 1px rgb(208, 208, 208);
    border-radius: 3px;
    padding: 5px;
    
    
    cursor: pointer;
    width: calc(100% - 50px);
    height: 100%;
    
    text-align: left;

    list-style-type: none;
    text-decoration: none;
    background-color: var(--background-dark);
    outline: none;
    color: var(--text-light);    
    position: relative;
    overflow: hidden;
    border: none;
    
}
.history-group > button {
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 5px;
}

.column-split {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.column-split input {
    width: 50%;
}


@media (max-width:560px) {
    div.page-container {        
        grid-template-columns: 1fr;
        grid-template-rows:  50px 1fr auto 100px;
        grid-template-areas: 
            "top"
            "left" 
            "right"
            "bottom";
    }

    div.header {
        font-size: 24px;
    }
}